<div class="main-container">
    <!-- control -->
    <div class="control flex flex-nowrap gap-5">
        <div class="input-group w-5/8">
            <input type="text" class="form-control" />
            <button class="btn text-[16px] text-white bg-[#262b32] " >Tìm kiếm nhóm</button>
        </div>
        <a href="/group-bib/form-add/<%=slug%>" class="btn mx-auto w-2/8 text-[16px] bg-[#e668b3] text-white"><i class="bi bi-discord"></i>Tạo nhóm ngay</a>
    </div>
    <!-- table -->
    <div class="overflow-x-auto mt-8">
        <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
                <tr>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">#</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Tên nhóm
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Trưởng nhóm
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Zalo nhóm
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Facebook nhóm
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Thời hạn đăng ký
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Trạng thái
                    </th>
                </tr>
            </thead>
            <tbody>
                <%if(groups && groups.length >0){%>
                    <%groups.forEach((g,i)=>{%>
                        <tr class="bg-white divide-y divide-gray-200">
                            <td class="px-6 py-4 whitespace-nowrap"><%=i+1%></td>
                            <td class="px-6 py-4 whitespace-nowrap"><a class="text-[#4f46e5]" href="/event/participant_pre/<%=slug%>/<%=g._id%>"><%=g.group_name.substring(0, 20)+ '...' %></a></td>
                            <td class="px-6 py-4 whitespace-nowrap"><%=g.leader_name%></td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <% if (g.zalo_link.length > 20) { %>
                                    <a href="<%=g.zalo_link%>" target="_blank" class="text-[#4f46e5]">
                                        <%= g.zalo_link.substring(0, 20) + '...' %>
                                    </a>
                                <% } else { %>
                                    <a href="<%=g.zalo_link%>" target="_blank" class="text-[#4f46e5]">
                                        <%= g.zalo_link %>
                                    </a>
                                <% } %>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <%if(!g.facebook_link){%>
                                    --ko co--
                                <%}else{%>
                                    <% if (g.facebook_link.length > 20) { %>
                                    <a href="<%=g.zalo_link%>" target="_blank" class="text-[#4f46e5]">
                                        <%= g.facebook_link.substring(0, 20) + '...' %>
                                    </a>
                                <% } else { %>
                                    <a href="<%=g.zalo_link%>" target="_blank" class="text-[#4f46e5]">
                                        <%= g.facebook_link %>
                                    </a>
                                <% } %>

                                <%}%>
                                
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">23:45 - <%= new Date(g.expiry_date).toLocaleDateString('vi-VN')%></td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <button
                                    class="text-white font-semibold px-2 py-1 rounded-2xl transition duration-75 bg-[#4f46e5]"
                                >
                                    Đã thanh toán
                                </button>
                            </td>
                        </tr>
                    <%})%>
                <%}else{%>
                    <tr class="bg-white divide-y divide-gray-200">
                        <td class="text-center px-6 py-4" colspan="7">-- No data --</td>
                    </tr>
                <%}%>
                
            </tbody>
        </table>
    </div>
    <!--  -->
</div>
